/* Base styles */
/* .dashboard {
  display: flex;
}

.sidebar {
  width: 270px;
  background-color: #d9d9d9;
  padding: 20px;
  min-height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.items {
  margin-top: 100px;
  width: 85%;
}

.items i {
  margin-right: 10px;
}

.icon i {
  margin-right: 20px;
}

.dropdown-btn {
  background-color: #d01c28;
  color: white;
  border: none;
  padding: 15px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.menu-item {
  display: block;
  background-color: #d01c28;
  color: white;
  padding: 15px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item i {
  margin-right: 13px;
}

.dropdown-btn::after {
  content: '\25BC';
  position: absolute;
  right: 20px;
  font-size: 12px;
}

.dropdown-btn.active::after {
  content: '\25B2';
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.dropdown-item {
  background-color: #fbabab;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: rgb(209, 71, 71);
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content h1 {
  color: #2c3e50;
  margin-top: 90px;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

  .dropdown-btn, .menu-item {
    padding: 12px;
    font-size: 14px;
  }

  .dropdown-item {
    padding: 9px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 220px;
  }

  .dropdown-btn, .menu-item {
    padding: 10px;
    font-size: 13px;
  }

  .dropdown-item {
    padding: 8px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    margin-top: 70px;
  }

  .sidebar {
    width: 100%;
    min-height: auto;
    box-shadow: none;
    padding: 10px;
  }

  .items {
    margin-top: 50px;
    width: 100%;
  }

  .dropdown-btn, .menu-item {
    padding: 10px;
    font-size: 14px;
    width: 100%;
  }

  .dropdown-item {
    padding: 8px;
    font-size: 14px;
  }

  .content {
    padding: 10px;
  }

  .content h1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    padding: 5px;
  }

  .items {
    margin-top: 50px;
    width: 100%;
  }

  .dropdown-btn, .menu-item {
    padding: 8px;
    font-size: 12px;
  }

  .dropdown-item {
    padding: 6px;
    font-size: 12px;
  }

  .content {
    padding: 5px;
  }

  .content h1 {
    margin-bottom: 20px;
  }
} */



/* Dashboard.module.css */

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fecaca;
  padding: 14px;
  margin-top: 85px;
  flex-wrap: wrap;
  z-index: 0;
}

.dropbtn {
  position: relative;
}

.dropdownMenuCustom {
  display: none;
  position: absolute;
  color: white;
  background-color: #d01c28;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownMenuCustom .dropdown_item {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  background-color: #d01c28;
}

.navbarItem {
  color: white;
  background-color: #d01c28;
  border-radius: 5px;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_item:hover {
  color: #f79aa0;
}

.dropbtn .dropdown-menu {
  display: block;
}

.menuButton {
  display: none;
}

.showMenu {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 890px) {
  .menuButton {
    color: white;
    background-color: #d01c28;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    justify-content: center;
    margin-top: 85px;
  }

  .dropbtn {
    display: none; /* Hide dropdowns by default */
    width: 100%;
    margin: 5px;
    text-align: center;
  }

  .showMenu .dropbtn {
    display: block; /* Show dropdowns when menu is toggled */
    width: 100%;
    margin: 5px 0;
  }

  .dropdownMenuCustom {
    position: static;
    min-width: 30%; /* Full width for dropdown */
    box-shadow: none;
  }

  .dropdownMenuCustom .dropdown_item {
    width: 100%;
    padding: 12px;
  }

  .navbarItem {
    display: none; /* Hide menu items by default */
    margin: auto;

  }

  .showMenu .navbarItem {
    display: flex; /* Show menu items when menu is toggled */
  }

  .main_heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    margin-top: 105px;
  }
}

@media (max-width: 530px) {
  .navbar {
    margin-top: 105px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .dropbtn {
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdownMenuCustom .dropdown_item {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .navbarItem {
    padding: 10px 16px;
    text-align: center;
    margin-bottom: 10px;
  }
}

